.header {
    background-color: #4c4c4c;
}

.nav {
    display: flex;
}

.nav-link {
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:last-child {
    margin-left: auto;
}

.nav-link:hover {
    background-color: #ccc;
}

.nav-link.active {
    border-bottom: 5px solid #ff9a01;
    background-color: #ff9901ab;
    font-weight: 700;
}